@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Major>
<ul class="nav">
    @foreach(var m in Model)
    {
        @*thêm  id="@m.MajorID"*@
        <li class="nav-item" id="@m.MajorID">
            @*bỏ thuộc tính : asp-controller="Learner" asp-action="Index""*@
            <a asp-route-mid = "@m.MajorID" class="nav-link">@m.MajorName</a>
        </li>
    }
</ul>